<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="metel.cih.api.youtube.mapper.YoutubeMapper">

    <select id="selectYoutubePastor" resultType="metel.cih.api.dto.YoutubePastorDto" parameterType="hashmap">
        SELECT a.vid, a.p_code as pastorCode, c.name as pastorName, a.title, a.create_ymd as createYmd
            , a.ovid, b.name as originName, a.youtubeid as youtubeId, a.upddt as updDt
        FROM tb_youtube_pastor a inner join tb_origin_vid b on a.ovid = b.ovid
        inner join tb_pastor c on a.p_code = c.p_code
        where 1=1
        <if test='pastorCode != null and pastorCode != ""'>
            AND a.p_code = #{pastorCode}
        </if>
        <if test='ovid != null and ovid != ""'>
            and a.ovid = #{ovid}
        </if>
        order by a.upddt desc
    </select>
    <insert id="insertYoutubePastor" parameterType="metel.cih.api.dto.YoutubePastorDto">
        INSERT INTO tb_youtube_pastor
        (vid, p_code, title, create_ymd, ovid, youtubeid, regid, regdt, updid, upddt)
        select concat('V', #{pastorCode}, lpad(cast(substring(ifnull(max(vid), concat('V', #{pastorCode}, '00000')),9) as unsigned)+1, 5, '0')) as vid
            , #{pastorCode}, #{title}, date_format(now(), '%Y%m%d'), #{ovid}, #{youtubeId}
            , #{userId}, now(), #{userId}, now()
        from tb_youtube_pastor where p_code = #{pastorCode}
    </insert>
    <update id="updateYoutubePastor" parameterType="metel.cih.api.dto.YoutubePastorDto">
        UPDATE cihdb.tb_youtube_pastor
        SET p_code=#{pastorCode}, title=#{title}, ovid=#{ovid}, youtubeid=#{youtubeId}
            , updid=#{userId}, upddt=now()
        WHERE vid=#{vid};
    </update>
    <delete id="deleteYoutubePastor" parameterType="metel.cih.api.dto.YoutubePastorDto">
        DELETE FROM tb_youtube_pastor WHERE vid=#{vid}
    </delete>

    <select id="selectOriginVid" resultType="metel.cih.api.dto.OriginVidDto" parameterType="hashmap">
        SELECT ovid, name, title, channelurl as channelUrl, comment,  upddt as updDt
        FROM tb_origin_vid
        where 1=1
        <if test='name != null and name != ""'>
            AND name like concat('%', #{name}, '%')
        </if>
        <if test='title != null and title != ""'>
            and title like concat('%', #{title}, '%')
        </if>
    </select>

    <insert id="insertOriginVid" parameterType="metel.cih.api.dto.OriginVidDto">
        INSERT INTO tb_origin_vid
        (ovid, name, title, channelurl, comment, regid, regdt, updid, upddt)
        select concat('R', lpad(cast(substring(ifnull(max(ovid), 'O000000'),2) as unsigned)+1, 6, '0')) as ovid
            , #{name}, #{title}, #{channelUrl}, #{comment}, #{userId}, now(), #{userId}, now()
        from tb_origin_vid
    </insert>
    <update id="updateOriginVid" parameterType="metel.cih.api.dto.OriginVidDto">
        UPDATE tb_origin_vid
        SET name=#{name}, title=#{title}, channelurl=#{channelUrl}, comment=#{comment}, updid=#{userId}, upddt=now()
        WHERE ovid=#{ovid}
    </update>
    <delete id="deleteOriginVid" parameterType="metel.cih.api.dto.OriginVidDto">
        DELETE FROM tb_origin_vid WHERE ovid=#{ovid}
    </delete>
</mapper>